* { box-sizing: border-box; }
html{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
}
table { 
    margin: 10px;
}
tr:first-child td {
    border-top-color: black;
}
tr:nth-child(3n) td {
    border-bottom-color: black;
}
td {
    border: 1px solid lightgrey;
    height: 40px;
    width: 40px;
    margin-left: 15px;
    text-align: center;
}
td:first-child {
    border-left-color: black;
}
td:nth-child(3n) {
    border-right-color: black;
}
input:hover {
    background: #ffffff;
}